<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.erp.dao.PaySheetDao">
    <insert id="saveSheet">
        insert into pay_sheet (id, customer, operator, `state`, create_time, total_amount)
        values (#{id}, #{customer}, #{operator}, #{state}, #{createTime}, #{totalAmount});
    </insert>

    <insert id="saveBatchSheetContent" useGeneratedKeys="true" keyProperty="id">
        insert into pay_sheet_content (pay_sheet_id, bank_account,amount,remark) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.paySheetId},#{item.bankAccount},#{item.amount},#{item.remark})
        </foreach>
    </insert>

    <update id="updateSheetState">
        update pay_sheet
        set state = #{state}
        where id = #{sheetId}
    </update>

    <update id="updateSheetStateOnPrev">
        update pay_sheet
        set state = #{state}
        where id = #{sheetId}
        and state = #{prev}
    </update>

    <select id="getLatestSheet" resultType="com.nju.edu.erp.model.po.PaySheetPO">
        select *
        from pay_sheet
        order by id desc
        limit 0,1;
    </select>

    <select id="findAllSheet" resultType="com.nju.edu.erp.model.po.PaySheetPO">
        select *
        from pay_sheet;
    </select>

    <select id="findAllByState" resultType="com.nju.edu.erp.model.po.PaySheetPO">
        select *
        from pay_sheet
        where state = #{state}
    </select>

    <select id="findContentBySheetId" resultType="com.nju.edu.erp.model.po.PaySheetContentPO">
        select *
        from pay_sheet_content
        where pay_sheet_id = #{sheetId};
    </select>

    <select id="findSheetById" resultType="com.nju.edu.erp.model.po.PaySheetPO">
        select *
        from pay_sheet
        where id = #{id};
    </select>

    <resultMap id="PaySheetPO" type="com.nju.edu.erp.model.po.PaySheetPO">
        <id column="id" property="id"></id>
        <result column="customer" property="customer"></result>
        <result column="operator" property="operator"></result>
        <result column="state" property="state"></result>
        <result column="total_amount" property="totalAmount"></result>
        <result column="create_time" property="createTime"></result>
    </resultMap>
</mapper>

